<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    {{>navbar}}

    <!-- main header  -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">

                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_right align-item-center">
                        
                        <figure>
                            <img src="images/siddarth.png" alt="sid" class="img-fluid" title="siddy techie">
                        </figure>

                    </div>
                    <!-- right side div -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app</p>
                        <h1>I am a <span class="text_clr">web Developer</span> and a Btech Student</h1>
                        <a href="#"><button>About me</button></a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- footer code -->

    {{>footer}}

</body>
</html>